#service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#services{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #083c82;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.service-gem{
    position: absolute;
    background-color: #7ac143;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #083c82;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.service-title{
    text-align: center;
}

.service-description{
    color: #0c1109;
    text-align: center;
}

.service-image{
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1170px){
    #services{
        flex-wrap: wrap;
        justify-content: center;
    }

    .service{
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px){
    .service{
        width: calc(100% - 12px);
    }

    #menu .section-subtitles{
        text-align: center;
    }
}
