#about{
    min-height: calc(100vh - 109.73);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#about_content{
    width: 60%;
}

#history{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.histories{
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #7ac143;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}


#emphasis_one{
    color: #0c1109;
}
#emphasis_two{
    color: #083c82;
}

#about_image{
    width: 40%;
    height: 40%;
    border-radius: 20px;
}

@media screen and (max-width: 1170px){
    #about{
        flex-direction: column;
    } 
    #about_content{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }      
    
}

@media screen and (max-width: 600px){
    #about_image{
        display: none;
    }

    .histories{
        flex-direction: column;
    }

    #about_content{
        width: 100%;
    }
}