#home{
    display: flex;
    min-height: calc(100vh - 109.73);
    position: relative;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title{
    font-size: 4rem;
    color: #0c1109;
}

#cta .title span{
    color: #083c82;
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a{
    text-decoration: none;
    color: #0c1109;
}

.phone_button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #f8faf6;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
}

#banner img{
    height: 100%;
    width: fit-content;
    border-radius: 20px;
}

@media screen and (max-width: 1660px){
    #banner,
    #banner img{
        height: 60%;
        border-radius: 20px;
    }
}


@media screen and (max-width: 1590px){
    #home{
        min-height: 100%;
        padding-top:0px ;
    }

    #banner,
    #banner img{
        display: none;
    }

    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
}


